
:root {
    /* --bg-finguru-1: #1ca86e; */
    --bg-finguru-1: #11580b;
    --bg-finguru-2: #e7f7ef;
    --bg-finguru-3: #65b9ae;
    --bg-finguru-4: #ff9100;
    --bg-finguru-5: #fff0dd;
    --margin-top: 100px;
}
